html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

body {
	font-family: roboto;
	font-size: 13px;
	line-height: 1.42857143;
	color: #5e5e5e;
	background-color: #edecec
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: #000
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
	font-weight: 400;
	line-height: 1;
	color: #777
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
	margin-top: 18px;
	margin-bottom: 9px
}

h1 small,
.h1 small,
h2 small,
.h2 small,
h3 small,
.h3 small,
h1 .small,
.h1 .small,
h2 .small,
.h2 .small,
h3 .small,
.h3 .small {
	font-size: 65%
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin-top: 9px;
	margin-bottom: 9px
}

h4 small,
.h4 small,
h5 small,
.h5 small,
h6 small,
.h6 small,
h4 .small,
.h4 .small,
h5 .small,
.h5 .small,
h6 .small,
.h6 .small {
	font-size: 75%
}

h1,
.h1 {
	font-size: 33px
}

h2,
.h2 {
	font-size: 27px
}

h3,
.h3 {
	font-size: 23px
}

h4,
.h4 {
	font-size: 17px
}

h5,
.h5 {
	font-size: 13px
}

h6,
.h6 {
	font-size: 12px
}

p {
	margin: 0 0 9px
}

.form-control {
	display: block;
	width: 100%;
	height: 35px;
	padding: 6px 12px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #e0e0e0;
	border-radius: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
	border-color: #b4b4b4;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(180, 180, 180, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(180, 180, 180, .6)
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1
}

.form-control:-ms-input-placeholder {
	color: #999
}

.form-control::-webkit-input-placeholder {
	color: #999
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	background-color: #eee;
	opacity: 1
}

.form-control[disabled],
fieldset[disabled] .form-control {
	cursor: not-allowed
}

textarea.form-control {
	height: auto
}

input[type=search] {
	-webkit-appearance: none
}

.form-group {
	margin-bottom: 15px
}

.btn-danger {
	color: #fff;
	background-color: #f44336;
	border-color: #f32c1e
}

.btn-danger:focus,
.btn-danger.focus {
	color: #fff;
	background-color: #ea1c0d;
	border-color: #891008
}

.btn-danger:hover {
	color: #fff;
	background-color: #ea1c0d;
	border-color: #c8180b
}

.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #ea1c0d;
	border-color: #c8180b
}

.btn-danger:active:hover,
.btn-danger.active:hover,
.open>.dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open>.dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open>.dropdown-toggle.btn-danger.focus {
	color: #fff;
	background-color: #c8180b;
	border-color: #891008
}

.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
	background-image: none
}

.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
	background-color: #f44336;
	border-color: #f32c1e
}

.btn-danger .badge {
	color: #f44336;
	background-color: #fff
}

.btn-danger:focus,
.btn-danger.focus {
	color: #fff;
	background-color: #f44336;
	border-color: transparent
}

.btn-danger:active,
.btn-danger.active,
.btn-danger .open>.dropdown-toggle {
	background-image: none;
	background-color: #d2190b
}

.btn-danger.disabled,
.btn-danger[disabled],
.btn-danger fieldset[disabled],
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active {
	background-color: #f44336;
	border-color: #f32c1e
}

.btn-danger .badge {
	color: #f44336;
	background-color: #fff
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate
}

.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0
}

.input-group-addon,
.input-group-btn,
.input-group .form-control {
	display: table-cell
}

.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
	border-radius: 0
}

.input-group-addon,
.input-group-btn {
	width: 1%;
	white-space: nowrap;
	vertical-align: middle
}

.input-group-addon {
	padding: 6px 12px;
	font-size: 13px;
	font-weight: 400;
	line-height: 1;
	color: #555;
	text-align: center;
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: 2px
}

.input-group-addon.input-sm {
	padding: 5px 10px;
	font-size: 12px;
	border-radius: 2px
}

.input-group-addon.input-lg {
	padding: 10px 16px;
	font-size: 17px;
	border-radius: 2px
}

.input-group-addon input[type=radio],
.input-group-addon input[type=checkbox] {
	margin-top: 0
}

.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group>.btn,
.input-group-btn:first-child>.dropdown-toggle,
.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child>.btn-group:not(:last-child)>.btn {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0
}

.input-group-addon:first-child {
	border-right: 0
}

.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group>.btn,
.input-group-btn:last-child>.dropdown-toggle,
.input-group-btn:first-child>.btn:not(:first-child),
.input-group-btn:first-child>.btn-group:not(:first-child)>.btn {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0
}

.input-group-addon:last-child {
	border-left: 0
}

.input-group-btn {
	position: relative;
	font-size: 0;
	white-space: nowrap
}

.input-group-btn>.btn {
	position: relative
}

.input-group-btn>.btn+.btn {
	margin-left: -1px
}

.input-group-btn>.btn:hover,
.input-group-btn>.btn:focus,
.input-group-btn>.btn:active {
	z-index: 2
}

.input-group-btn:first-child>.btn,
.input-group-btn:first-child>.btn-group {
	margin-right: -1px
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
	z-index: 2;
	margin-left: -1px
}

.m-b-20 {
	margin-bottom: 20px!important
}

.bgm-red {
	background-color: #f44336!important
}

html {
	overflow-x: hidden\0/;
	-ms-overflow-style: none
}

html,
body {
	min-height: 100vh
}

body {
	font-weight: 400;
	padding-top: 65px;
	padding-bottom: 110px;
	position: relative
}

body #content {
	padding: 30px 0
}

.btn-float {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	line-height: 45px!important
}

.btn-float:not(.m-btn) {
	position: absolute!important
}

input:active,
input:focus {
	outline: 0;
	box-shadow: none!important
}

.form-control {
	box-shadow: none;
	border: 0;
	border-bottom: 1px solid #e0e0e0;
	resize: none
}

.lc-block {
	background: #fff;
	box-shadow: 0 1px 11px rgba(0, 0, 0, .27);
	border-radius: 2px;
	width: 500px;
	display: inline-block;
	margin-top: 150px;
	vertical-align: middle;
	position: relative
}

.lc-block:not(.lcb-alt) {
	padding: 19px 55px
}

.lc-block:not(.lcb-alt) .btn-login {
	top: 50%;
	margin-top: -25px;
	right: -25px
}

.login-navigation {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	bottom: -45px
}

.login-navigation>li {
	display: inline-block;
	margin: 0 2px;
	-webkit-transition: all;
	-o-transition: all;
	transition: all;
	-webkit-transition-duration: 150ms;
	transition-duration: 150ms;
	cursor: pointer;
	vertical-align: top;
	color: #fff;
	line-height: 16px;
	min-width: 16px;
	min-height: 16px;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden
}

.login-navigation>li>span {
	opacity: 0;
	filter: alpha(opacity=0)
}

.login-navigation>li:not(:hover) {
	font-size: 0;
	border-radius: 100%
}

.login-navigation>li:hover {
	border-radius: 10px;
	padding: 0 5px;
	font-size: 8px
}

.login-navigation>li:hover>span {
	opacity: 1;
	filter: alpha(opacity=100)
}

.lcb-user {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 5px solid #fff;
	position: absolute;
	top: -50px;
	left: 50%;
	margin-left: -50px;
	box-shadow: 0 -4px 10px rgba(0, 0, 0, .18)
}

body.login-content {
	text-align: center
}

body.login-content:after {
	content: "";
	vertical-align: middle;
	display: inline-block;
	width: 1px;
	height: 100%
}

body.login-content:before {
	height: 50%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #00bcd4;
	content: "";
	z-index: 0
}

h1.lean {
	color: #7e7e7e;
	text-align: center;
	letter-spacing: -.05em;
	line-height: 20px;
	margin-bottom: 10px
}

h1.lean:before,
h1.lean:after {
	content: "";
	height: 1px;
	position: absolute;
	top: 47px;
	width: 35%
}

h1.lean:after {
	background: #7e7e7e;
	background: -moz-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: -webkit-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: -moz-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: -ms-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	right: 0
}

h1.lean:before {
	background: #7e7e7e;
	background: -moz-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: -webkit-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: -moz-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: -ms-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
	left: 0
}